* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }
 /*div {border: 2px solid #000;}*/
 
 .mae {
    margin: 30px;
 }
 
 .conteudo {
     width: 100%; /* largura */
     display: flex;
     justify-content: space-between; /* adiciona espaço entre os itens */
     align-items: center; /* alinha  tudo ao centro */
     flex-wrap: wrap;
     height: 390px;
 }
 
 .caixa-texto {
     width: 430px;
 }
 
 .caixa-imagem {
     width: 334px;
     display: flex;
     justify-content: flex-end; /* joga item todo pro lado */
 }
 
 .menu {
     display: flex;
     justify-content: center; /* joga itens para o centro */
     gap: 30px;
 }
 
 button {
     background-color: #017143; /* cor de fundo */
     color: #ffffff; /* cor do texto */
     border: none; /* borda */
     padding: 10px;
     border-radius: 20px;
     cursor: pointer;
 }
 
 h2 {
     font-size: 60px;
     font-weight: 500;
     
 }
 
 span {
     color: #017143;
     font-size: 70px; /* muda tamanho do texto */
     font-weight: 900;  /* muda a grossura do texto */
     
     
     
 }
 
 p {
     font-size: 16px;
     margin-top: 20px;
     margin-bottom: 30px;
     
 }
 
 .logo {
     width: 80px;
 }
 
 .starbucks {
     width: 340px;
 }
 
 .copo-pequeno {
     width: 60px;
     cursor: pointer;
 }

 .copo-pequeno:hover {
   transform: translateY(-25px);  
   transition: 0.5s;
 }
 
 .circulo {
     background: #017143;
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     clip-path: circle(600px at right 100px);
     z-index: -1; /* define se o item está a frente ou atrás */
 }

 img {
    max-width: 315px;
    height: auto;
}

@media only screen and (max-width: 960px) {
    
    button {
        background-color: black;
        color: white;
    }

    .content {
        flex-direction: column;  
        text-align: center;
    }
    h2 {
        font-size: 25px;
    }

    p {
        display: none;
    }
    .starbucks {
        width: 160px;
    }

    span {
        font-size: 46px;
        color: black;  
    }
}